<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
    <title>Twilio Sync Whiteboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="tips">
        <p id="message">Initializing Sync...</p>
        <p>Open this page in a few tabs to test!</p>
    </div>
    <div class="buttons">
        <button id="color-btn" class="btn">Change Color</button>
        <button id="clear-btn" class="btn">Clear</button>
    </div>
    <canvas class="whiteboard"></canvas>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/sync/releases/0.12.4/twilio-sync.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
